doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title PantherStuff | #{subject}
center.wrapper(style='\
width: 100%;\
table-layout: fixed;\
background-color: #664a33;\
padding-bottom: 60px;\
')
  table.main(width='100%' style="\
  border-spacing: 0;\
  width: 100%;\
  max-width: 600px;\
  color: #664a33;\
  font-family: 'Poppins', Arial, Helvetica, sans-serif;\
  text-align: center;\
  ")
    include header

    block content

    include footer


