// FOOTER SECTION
tr
  td(style='padding: 0')
    table(width='100%' style='border-spacing: 0')
      tr
        td(style='padding: 45px 0 0; text-align: center')
          a(href='https://www.facebook.com/pantherstuff' target='_blank' title='facebook')
            img(src='https://i.ibb.co/WVbg4tt/facebook.png' alt='' width='40' style='border: 0')
          a(href='https://www.instagram.com/pantherstuff_ecoprint' target='_blank' title='instagram')
            img(src='https://i.ibb.co/XzVrzPn/instagram.png' alt='' width='40' style='border: 0')
          a(href='https://www.youtube.com/' target='_blank' title='youtube')
            img(src='https://i.ibb.co/FwfQqc5/youtube.png' alt='' width='40' style='border: 0')
          p(style='padding: 5px 0 0')
            a(href='https://pantherstuff.com' target='_blank' style='\
            text-decoration: none;\
            color: #faf0d1;\
            font-size: 15px;\
            text-transform: uppercase;\
            letter-spacing: 1px;\
            ')
              | WWW.PANTHERSTUFF.COM
          p(style='\
          font-size: 14px;\
          color: #faf0d1;\
          text-transform: uppercase;\
          ')
            | 123&ZeroWidthSpace; Street Road, City, State 55555
          p(style='font-size: 14px')
            a(href='#' style='\
            text-decoration: none;\
            color: #faf0d1;\
            text-transform: uppercase;\
            ')
              | Subscriber Preferences
// End Main Class
// End Wrapper