// LOGO
tr
  td(style='padding: 0')
    table(width='100%' style='border-spacing: 0')
      tr
        td(style='padding: 25px 0 20px; text-align: center')
          a(href='https://pantherstuff.com' target='_blank')
            img(src='https://i.ibb.co/YWSHZXp/logo-200x200.png' alt='pantherstuff' width='100' style='\
            border: 0;\
            background-color: #faf0d1;\
            border-radius: 5px;\
            ')