extends base

block content
  // BODY
  tr
    td(style='padding: 50px; background-color: #faf0d1; border-radius: 5px')
      table(width='100%' style='border-spacing: 0')
        // Heading
        tr
          td(style='padding: 0; text-align: left')
            h5(style='font-size: 20px; margin: 0') Szia #{firstName},
        // Text 1
        tr
          td(style='padding: 15px 0 20px; text-align: left')
            p(style='font-size: 16px; font-weight: 400; margin: 0')
              | Azért kaptad ezt az e-mailt, mert Te (vagy valaki más)
              | kérte(d) a jelszó visszaállítását.
        // Text 2
        tr
          td(style='padding: 15px 0 20px; text-align: left')
            p(style='font-size: 16px; font-weight: 400; margin: 0')
              | A folyamat befejezéséhez kattints az alábbi gombra,
              | vagy a linket illeszd be kedvenc böngésződbe:
        // Button
        tr
          td(style='padding: 10px 0 0; text-align: center')
            a(href=`${url}` target='_blank' style='text-decoration: none')
              span(style='\
              display: inline-block;\
              color: #faf0d1;\
              background-color: #486629;\
              padding: 10px 50px;\
              border-radius: 5px;\
              ')
                | Jelszó visszaállítása
        // Text 2
        tr
          td(style='padding: 25px 0 50px; text-align: left')
            p(style='font-size: 16px; line-height: 28px; margin: 0')
              | Ha nem Te kérted, kérjük hagyd figyelmen kívül ezt az
              | e-mailt, és jelszavad változatlan marad.